/* Navbar.css */

body:before {
    content: '';
    position: absolute;
    inset: 40% -60% 0% -60;
    opacity: 0.3;
    
}

nav {
    position: fixed;
    /* Set the position to fixed */
    top: 0;
    z-index: 1;
    width: 100%;
    height: 10%;
    /* Extend the navbar to cover the full width */
    background-color: rgb(14, 14, 26);
    /* Adjust this value to position the button vertically */
    left: 50%;
    /* Center the button horizontally */
    transform: translateX(-50%);
}

nav ul {
    margin: 5px;
    padding: 5px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    /* Center the items horizontally */
    gap: 40px;
}

.no-underline {
    text-decoration: none;
}

.btn_nav {
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 20px;
    position: relative;
    left: 50%;
    display: flex;
    /* Add display flex */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    height: 10%;
}

.btn_nav:active {
    transform: scale(0.92);
    height: 20%;
}

.btn_nav:hover {
    background: rgb(2, 29, 78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}

.logout-btn {
    position: relative;
    left: 360px;
    display: flex;
    align-items: right;

}

.logout-btn svg {
    margin-right: 0.1rem;
    font-size: 40px;
    /* Adjust the spacing between icon and text */
}